<template name="testingQuickstart">
  <div id="testingQuickstart">
    <h2>Testing Quickstart</h2>
    <hr>
    {{#prism language="bash"}}
      # API Version 3.3.0

      # add .meteor/nightwatch.json to our application
      $ starrynight generate-autoconfig

      # add acceptance tests to your application (using the nightwatch framework)
      $ starrynight scaffold --framework nightwatch

      # run your validation tests using NightWatch
      $ starrynight run-tests --framework nightwatch

      # run any verification tests you may have written with TinyTest
      $ starrynight run-tests --framework tinytest-ci
    {{/prism}}

    <h2>Detailed Walkthrough</h2>
    <hr>

    <img src="/testingQuickstart/quickstart-a.png" class="exampleScreenshot" />
    <img src="/testingQuickstart/quickstart-b.png" class="exampleScreenshot" />
    <img src="/testingQuickstart/quickstart-c.png" class="exampleScreenshot" />
    <img src="/testingQuickstart/quickstart-d.png" class="exampleScreenshot" />
    <img src="/testingQuickstart/quickstart-e.png" class="exampleScreenshot" />
    <img src="/testingQuickstart/quickstart-f.png" class="exampleScreenshot" />
    <img src="/testingQuickstart/quickstart-g.png" class="exampleScreenshot" />
    <img src="/testingQuickstart/quickstart-h.png" class="exampleScreenshot" />
    <img src="/testingQuickstart/quickstart-i.png" class="exampleScreenshot" />
    <img src="/testingQuickstart/quickstart-j.png" class="exampleScreenshot" />


  </div>
</template>
