<template name="architecture">
  <div id="architecture">

    <h2>System Architecture</h2>
    <hr>
    <p>
      The following system architecture is what StarryNight is being coded towards.  We're mostly complete with this entire architecture (due to the amazing work of Andrei Rusu), with only the mocha and cucumber libraries left to integrate.  We have the cucumber integration path figured out; and the the mocha integration is in the pipeline for next-month.  The goal is to eventually have an isomorphic testing framework, that uses the same testing API on client, server, and packages, and this is how we intend to implement it.
    </p>
    <img id="architectureDiagram" src="NightwatchMeteor.png" alt="" />


    <h2>Contributions / Technologies</h2>
    <hr>
    <ul>
      <li>Meteor</li>
      <li>GitHub</li>
      <li>Selenium</li>
      <li>Atom</li>
      <li>Phantom JS</li>
      <li>Chrome</li>
      <li>Firefox</li>
      <li>Nightwatch</li>
      <li>Meteor Bulk Release</li>
      <li>SpaceJam</li>
      <li>Travis</li>
      <li>BrowserLab</li>
      <li>Saucelabs</li>
    </ul>


  </div>
</template>
