<template name="exampleMenu">
  <div id="exampleMenu">
    <h2>Examples</h2>
    <hr>

      <h4><a href="/examples/testing-quickstart">Testing Quickstart</a></h4>
      <!-- <h4><a href="/examples/debugging-a-project">Debugging a Project</a></h4> -->
      <h4><a href="/examples/project-homepage">Create a Project Homepage</a></h4>
      <h4><a href="/examples/mobile-app">App Store & Refactoring</a></h4>
      <h4><a href="/examples/multi-page-app">Create a Multi-Page App</a></h4>
      <h4><a href="/examples/database-app">Create a Database Driven App</a></h4>
      <!-- <h4><a href="/examples/rest-api">Create a Rest API Backend</a></h4> -->
      <h4><a href="/examples/everything-app">Everything App (Large App Tutorial)</a></h4>
      <h4><a href="/examples/tinytests">TinyTests Walkthrough</a></h4>
      <!-- <h4><a href="/examples/unit-tests">Unit Tests Walkthrough</a></h4> -->
      <h4><a href="/examples/refactor-a-package">Extract A Package</a></h4>
      <!-- <h4><a href="/examples/componentized-validation-tests">Componentized Validation Tests</a></h4> -->



    <!-- <hr> -->
  </div>
</template>
