
<template name="customerUpsertPage">
  <div id="customerUpsertPage">
      <div class="container">
        <div class="col col-md-offset-3 col-md-6">
          <div id="customerUpsertCard" class="panel panel-default">
            <div class="panel-heading">
              {{ getRecordId }}
            </div>
            <div class="panel-body">
              <form id="customerForm" class="meteor-form">
                <label id="firstNameLabel" for="firstNameInput">First Name</label>
                <input id="firstNameInput" class="form-control" type="text" placeholder="Jane" value="{{FirstName}}">

                <label id="lastNameLabel" for="lastNameInput">Last Name</label>
                <input id="lastNameInput"  class="form-control" type="text" placeholder="Doe" value="{{LastName}}">

                <label id="companyLabel" for="companyInput">Company</label>
                <input id="companyInput"  class="form-control" type="text" placeholder="Widget, Inc." value="{{Company}}">

                <label id="addressLabel" for="addressInput">Address</label>
                <input id="addressInput"  class="form-control" type="text" placeholder="456 Second St." value="{{Address}}">

                <label id="cityLabel" for="cityInput">City</label>
                <input id="cityInput"  class="form-control" type="text" placeholder="Somewhere" value="{{City}}">

                <label id="phoneLabel" for="phoneInput">Phone</label>
                <input id="phoneInput"  class="form-control" type="tel" placeholder="818-777-2323" value="{{Phone}}">

                <label id="webLabel" for="webInput">Website</label>
                <input id="webInput"  class="form-control" type="url" placeholder="http://www.widget.com" value="{{Web}}">

                <label id="stateLabel" for="stateInput">State</label>
                <input id="stateInput"  class="form-control" type="text" placeholder="NJ" value="{{State}}">

                <label id="zipLabel" for="zipInput">Zip</label>
                <input id="zipInput"  class="form-control" type="text" placeholder="07307" value="{{Zip}}">

                <label id="faxLabel" for="faxInput">Fax</label>
                <input id="faxInput"  class="form-control" type="tel" placeholder="818-777-3434" value="{{Fax}}">

                <label id="emailLabel" for="emailInput">Email</label>
                <input id="emailInput"  class="form-control" type="email" placeholder="jdoe@widget.com" value="{{Email}}">

                <label id="notesLabel" for="notesInput">Notes</label>
                <textarea id="notesInput"  class="form-control" rows="3" placeholder="Noteum papyrus et...">{{Notes}}</textarea>
              </form>
            </div>
            <div class="panel-footer">
              <button id="upsertCustomerButton" type="button" class="fullwidth btn btn-info" width="100%">Save Customer</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</template>
