<template name="projectHomepage">
  <div id="projectHomepage">
    <h2>Project Homepage</h2>
    <hr>
    {{#prism language="bash"}}
      # API Version 3.3.0

      # create a helloworld application
      $ meteor create helloworld
      $ cd helloworld

      # you might want to open your editor to follow along
      $ atom .
      $ meteor

      # add .meteor/nightwatch.json to our application
      $ starrynight generate-autoconfig

      # add acceptance tests to your application (using the nightwatch framework)
      $ starrynight scaffold --framework nightwatch

      # make sure the acceptance testing framework is running
      $ starrynight run-tests --framework nightwatch

      # add a scaffold/boilerplate to your project
      $ starrynight scaffold --boilerplate project-homepage
      $ rm helloworld.*

      # add acceptance tests for the project-homepage scaffold
      $ starrynight scaffold --boilerplate project-homepage --framework nightwatch

      # run acceptance tests on the new scaffold
      $ starrynight run-tests --framework nightwatch

    {{/prism}}

    <h2>Detailed Walkthrough</h2>
    <hr>

    <img src="/projectHomepage/projectHomepage-a.png" class="exampleScreenshot" />
    <img src="/projectHomepage/projectHomepage-b.png" class="exampleScreenshot" />
    <img src="/projectHomepage/projectHomepage-c.png" class="exampleScreenshot" />
    <img src="/projectHomepage/projectHomepage-d.png" class="exampleScreenshot" />
    <img src="/projectHomepage/projectHomepage-e.png" class="exampleScreenshot" />
    <img src="/projectHomepage/projectHomepage-f.png" class="exampleScreenshot" />
    <img src="/projectHomepage/projectHomepage-g.png" class="exampleScreenshot" />



  </div>
</template>
